$blue-base: #114AA1;
$blue-light: #417AD1;
$blue-dark: #143971;
$blue-darker: #10294E;
$blue-lighter: #70A3F2;

$grey-base: #2E363F;
$grey-light: #37414B;
$grey-dark: #1F262D;
$grey-darker: #091017;
$grey-lighter: #5E6062;


$red-error: #ED1B24;

$red-base: #F3474F;
$red-dark: #F01620;
$red-light: #EF666C;

$font-base: #464646;
$font-dark:	#1F1F1F;
$font-light: #888888;

$main-font: 'Lora', serif;

$success: #28B62C;
$error: #FF4136;
$info: #158CBA;
$warning: #FF851B;

$success-darker: #23A127;
$error-darker: #FA281B;
$info-darker: #127BA3;
$warning-darker: #FF7701;

